<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--For Cloud Server-->
        <!--<property name="connection.url">jdbc:mysql://192.168.137.1:3306/precast_beam_system?useUnicode=true&amp;
        characterEncoding=GBK&amp;serverTimezone=GMT%2b8</property>-->
        <!--<property name="connection.username">testuser</property>-->
        <!--<property name="connection.password">testuser@mysql</property>-->

        <!--For Local Server-->
        <property name="connection.url">jdbc:mysql://localhost:3306/precast_beam_system</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <mapping class="hibernate.entities.BeamInfoEntity"/>
        <mapping class="hibernate.entities.BeamStoreEntity"/>
        <mapping class="hibernate.entities.CuringInfoEntity"/>
        <mapping class="hibernate.entities.PouringInfoEntity"/>
        <mapping class="hibernate.entities.SteelInfoEntity"/>
        <mapping class="hibernate.entities.TieInfoEntity"/>
        <mapping class="hibernate.entities.UsersEntity"/>
    </session-factory>
</hibernate-configuration>